html, body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.clock {
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    width: 500px;
    height: 500px;
}

.hand {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform-origin: 0;
    -moz-transform-origin: 0;
    transition: all 0.05s;
    -moz-transition: all 0.05s;
}

#hours {
    width: 125px;
    height: 5px;
}

#minutes, #seconds {
    width: 245px;
}

#minutes {
    height: 3px;
}

#seconds {
    height: 1.5px;
}